/*pseudoklasa */
.link:link {
    color: green;
}
/* po najechaniu myszą */
.link:hover {
    color: red;
}
/*zmiana jeśli link był już odwiedzony */
.link:visited {
    color: gold;
}

.text {
    width: 400px;
}
/*pseudoelement */
.text::first-letter {
    font-size: 50px;
}

.text::first-line {
    color: red;
}